*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

body{  
    background-color: rgba(241, 196, 15, 0.2);
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

#hero{
   grid-column: 3 / 5;
   grid-row: 2 / 3; 
   align-self: center;
   min-width: 400px;
   max-width: 520px;
}

#hero .log-box{
    position: relative;
    top: 100px;
    width: 100%;
    height: 500px;
    background-color: goldenrod;
    border-radius: 20px;
    padding: 20px;
}

#hero .log-box .back-x{
    position: relative;
    width: 25px;
    height: 25px;
    padding-left: 5px;
    padding-top: 1px;
}

h6{
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.back-x a{
    text-decoration: none;
    color: white;
}

#hero .log-box .title h1{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    font-size: 45px;
}

#hero .log-box .title h6{
    display: flex;
    justify-content: center;
    font-size: 13px;
    padding-top: 13px;
    margin-bottom: 20px;
}

#hero .log-box .title h6 .space{
    position: relative;
    left: 5px;
    text-decoration: none;
}

#hero .log-box .buttons{
    position: relative;
    left: 20px;
}

#hero .log-box .buttons h6{
    padding-top: 25px;
    font-size: 15px;
}

#hero .log-box .buttons h6 .point{
    color: red;
    font-size: 18px;
}

#hero .log-box .buttons input{
    position: relative;
    height: 30px;
    width: 250px;
    margin-top: 15px;
    border-radius: 3.5px;
    border: 1px 1px black;
}

#hero .log-box .buttons .buton{
    position: relative;
    right: -26px;
    top: 80px;
    width: 70px;
    height: 26.5px;
    border-radius: 7px;
}